In [3]:
pip install pandas

Collecting pandas
  Downloading pandas-2.0.2-cp38-cp38-manylinux_2_17_x86_64.manylinux2014_x86_64.whl (12.3 MB)
     |████████████████████████████████| 12.3 MB 11.0 MB/s eta 0:00:01
Collecting tzdata>=2022.1
  Downloading tzdata-2023.3-py2.py3-none-any.whl (341 kB)
     |████████████████████████████████| 341 kB 133.1 MB/s eta 0:00:01
Collecting pytz>=2020.1
  Downloading pytz-2023.3-py2.py3-none-any.whl (502 kB)
     |████████████████████████████████| 502 kB 130.8 MB/s eta 0:00:01
Requirement already satisfied: python-dateutil>=2.8.2 in /home/ubuntu/.local/lib/python3.8/site-packages (from pandas) (2.8.2)
Collecting numpy>=1.20.3; python_version < "3.10"
  Downloading numpy-1.24.3-cp38-cp38-manylinux_2_17_x86_64.manylinux2014_x86_64.whl (17.3 MB)
     |████████████████████████████████| 17.3 MB 116.0 MB/s eta 0:00:01
Requirement already satisfied: six>=1.5 in /usr/lib/python3/dist-packages (from python-dateutil>=2.8.2->pandas) (1.14.0)
Installing collected packages: tzdata, pytz, numpy, pandas
  WARNING: The scripts f2py, f2py3 and f2py3.8 are installed in '/home/ubuntu/.local/bin' which is not on PATH.
  Consider adding this directory to PATH or, if you prefer to suppress this warning, use --no-warn-script-location.
Successfully installed numpy-1.24.3 pandas-2.0.2 pytz-2023.3 tzdata-2023.3
Note: you may need to restart the kernel to use updated packages.

In [70]:
import pandas as pd
show_csv = pd.read_csv('/home/ubuntu/workspace/airline-passengers.csv',on_bad_lines='skip')
show_csv

       Month  Passengers
0    1949-01         112
1    1949-02         118
2    1949-03         132
3    1949-04         129
4    1949-05         121
..       ...         ...
139  1960-08         606
140  1960-09         508
141  1960-10         461
142  1960-11         390
143  1960-12         432

[144 rows x 2 columns]

In [71]:
data_pass=show_csv['Passengers']
data_pass

0      112
1      118
2      132
3      129
4      121
      ...
139    606
140    508
141    461
142    390
143    432
Name: Passengers, Length: 144, dtype: int64

In [72]:
from sklearn.model_selection import train_test_split
training, test = train_test_split(data_pass,test_size=0.2)#Nilai X training dan Nilai X testing
training

100    355
0      112
112    363
11     118
49     196
      ...
75     269
106    305
71     229
132    417
140    508
Name: Passengers, Length: 115, dtype: int64

In [73]:
#import modul
from sklearn.preprocessing import MinMaxScaler
from sklearn.model_selection import train_test_split
from sklearn.neighbors import KNeighborsClassifier
from sklearn.metrics import confusion_matrix, ConfusionMatrixDisplay, precision_score, recall_score,  accuracy_score

In [61]:
from sklearn.preprocessing import MinMaxScaler

scaler = MinMaxScaler(feature_range=(0,1))
scaled = scaler.fit_transform(training)
train = pd.DataFrame(scaled)
train

ValueError: Expected 2D array, got 1D array instead:
array=[422. 172. 118. 404. 264. 467. 465. 148. 178. 318. 236. 126. 270. 150.
 396. 360. 199. 114. 313. 209. 180. 183. 193. 171. 364. 229. 242. 118.
 342. 149. 140. 191. 310. 404. 233. 336. 548. 301. 390. 133. 141. 188.
 472. 230. 315. 337. 121. 229. 259. 606. 559. 104. 234. 235. 135. 348.
 472. 306. 162. 417. 235. 463. 305. 420. 163. 356. 318. 284. 435. 166.
 407. 237. 413. 269. 391. 293. 505. 218. 135. 362. 363. 203. 158. 362.
 306. 129. 146. 277. 194. 204. 211. 271. 267. 317. 227. 272. 461. 405.
 125. 181. 340. 347. 242. 419. 508. 112. 196. 348. 374. 145. 180. 347.
 264. 491. 178.].
Reshape your data either using array.reshape(-1, 1) if your data has a single feature or array.reshape(1, -1) if it contains a single sample.

In [74]:
from sklearn.preprocessing import MinMaxScaler

scaler = MinMaxScaler(feature_range=(0,1))

# Reshape the input data
reshaped_data = training.values.reshape(-1, 1)  # or reshape(1, -1) if it contains a single sample

scaled = scaler.fit_transform(reshaped_data)
train = pd.DataFrame(scaled)
train

            0
0    0.484556
1    0.015444
2    0.500000
3    0.027027
4    0.177606
..        ...
110  0.318533
111  0.388031
112  0.241313
113  0.604247
114  0.779923

[115 rows x 1 columns]

In [75]:
# Menambahkan nama kolom baru
kolom = ['Passengers'] # Ganti dengan nama kolom baru yang diinginkan
train.columns = kolom
train

     Passengers
0      0.484556
1      0.015444
2      0.500000
3      0.027027
4      0.177606
..          ...
110    0.318533
111    0.388031
112    0.241313
113    0.604247
114    0.779923

[115 rows x 1 columns]

ambil data t-3 , t-2,t-1 dan t

In [ ]:
df = pd.DataFrame(train)
df
type(df.iloc[0])
<class 'pandas.core.series.Series'>
df.iloc[0]

In [76]:
import numpy as np
from numpy import array
# split a univariate sequence into samples
def split_sequence(sequence, n_steps):
  X, y = list(), list()
  for i in range(len(sequence)):
    # find the end of this pattern
    end_ix = i + n_steps
    # check if we are beyond the sequence
    if end_ix > len(sequence)-1:
      break
    # gather input and output parts of the pattern
    seq_x, seq_y = sequence[i:end_ix], sequence[end_ix]
    X.append(seq_x)
    y.append(seq_y)
  return array(X), array(y)

# define univariate time series
series = array([1, 2, 3, 4, 5, 6, 7, 8, 9, 10])

# transform to a supervised learning problem
X, y = split_sequence(scaled, 3)
print(X.shape, y.shape)
shapeX = np.reshape(X,(112, 3))
dfX = pd.DataFrame(shapeX,columns=["t-3","t-2","t-1"])
dfy = pd.DataFrame(y, columns=["t"])

df = pd.concat((dfX, dfy), axis = 1)
df

(112, 3, 1) (112, 1)

          t-3       t-2       t-1         t
0    0.484556  0.015444  0.500000  0.027027
1    0.015444  0.500000  0.027027  0.177606
2    0.500000  0.027027  0.177606  0.521236
3    0.027027  0.177606  0.521236  0.241313
4    0.177606  0.521236  0.241313  0.237452
..        ...       ...       ...       ...
107  0.084942  0.191120  0.364865  0.318533
108  0.191120  0.364865  0.318533  0.388031
109  0.364865  0.318533  0.388031  0.241313
110  0.318533  0.388031  0.241313  0.604247
111  0.388031  0.241313  0.604247  0.779923

[112 rows x 4 columns]

In [68]:
dataX = df.drop(columns=['t'])
dataX

          t-3       t-2       t-1
0    0.633466  0.135458  0.027888
1    0.135458  0.027888  0.597610
2    0.027888  0.597610  0.318725
3    0.597610  0.318725  0.723108
4    0.318725  0.723108  0.719124
..        ...       ...       ...
107  0.486056  0.537849  0.081673
108  0.537849  0.081673  0.151394
109  0.081673  0.151394  0.484064
110  0.151394  0.484064  0.318725
111  0.484064  0.318725  0.770916

[112 rows x 3 columns]

In [69]:
dataY = df['t'].values
dataY

array([0.59760956, 0.3187251 , 0.72310757, 0.71912351, 0.0876494 ,
       0.14741036, 0.42629482, 0.26294821, 0.0438247 , 0.33067729,
       0.09163347, 0.58167331, 0.50996016, 0.18924303, 0.01992032,
       0.41633466, 0.20916335, 0.15139442, 0.15737052, 0.17729084,
       0.13346614, 0.51792829, 0.24900398, 0.2749004 , 0.02788845,
       0.47410359, 0.08964143, 0.07171315, 0.17330677, 0.41035857,
       0.59760956, 0.25697211, 0.46215139, 0.88446215, 0.39243028,
       0.56972112, 0.05776892, 0.07370518, 0.16733068, 0.73306773,
       0.25099602, 0.42031873, 0.46414343, 0.03386454, 0.24900398,
       0.30876494, 1.        , 0.9063745 , 0.        , 0.25896414,
       0.26095618, 0.06175299, 0.48605578, 0.73306773, 0.40239044,
       0.11553785, 0.62350598, 0.26095618, 0.71513944, 0.40039841,
       0.62948207, 0.11752988, 0.50199203, 0.42629482, 0.35856574,
       0.65936255, 0.12350598, 0.60358566, 0.26494024, 0.61553785,
       0.32868526, 0.57171315, 0.37649402, 0.79880478, 0.22709163,
       0.06175299, 0.51394422, 0.51593625, 0.19721116, 0.10756972,
       0.51394422, 0.40239044, 0.0498008 , 0.08366534, 0.34462151,
       0.17928287, 0.19920319, 0.21314741, 0.33266932, 0.3247012 ,
       0.42430279, 0.24501992, 0.33466135, 0.71115538, 0.59960159,
       0.04183267, 0.15338645, 0.47011952, 0.48406375, 0.2749004 ,
       0.62749004, 0.80478088, 0.01593625, 0.18326693, 0.48605578,
       0.53784861, 0.08167331, 0.15139442, 0.48406375, 0.3187251 ,
       0.77091633, 0.14741036])

In [ ]:
from sklearn.preprocessing import MinMaxScaler
import joblib

scaler = MinMaxScaler()
#scaler.fit(features)
#scaler.transform(features)
scaled = scaler.fit_transform(dataX)
features_names = dataX.columns.copy()
#features_names.remove('label')
scaled_features = pd.DataFrame(scaled, columns=features_names)
scaled_features

In [ ]:
from sklearn.model_selection import train_test_split
training, test = train_test_split(scaled_features,test_size=0.2, random_state=1)#Nilai X training dan Nilai X testing
training_label, test_label = train_test_split(dataY, test_size=0.2, random_state=1)#Nilai Y training dan Nilai Y testing

In [ ]:
from sklearn import neighbors
regresor = neighbors.KNeighborsRegressor(n_neighbors = 5)
regresor.fit(training, training_label)

In [ ]:
pred_test = regresor.predict(test)
pred_test

In [ ]:
from sklearn.metrics import mean_squared_error 
from math import sqrt
error = sqrt(mean_squared_error(test_label,pred_test))
error