## Import Data

In [ ]:
import pandas as pd
url = 'https://raw.githubusercontent.com/Amelia039/kolaborasipro/main/BYAN.JK.csv'
data = pd.read_csv(url)
data

           Date     Open     High      Low    Close     Adj Close   Volume
0    2022-06-15   6652.5   6652.5   6290.0   6290.0   5977.672363   336000
1    2022-06-16   6270.0   6450.0   5990.0   6437.5   6117.848633  1072000
2    2022-06-17   6437.5   6500.0   6177.5   6482.5   6160.614258   808000
3    2022-06-20   6482.5   6482.5   6337.5   6340.0   6025.189941   287000
4    2022-06-21   6340.0   6500.0   6340.0   6422.5   6103.593262   553000
..          ...      ...      ...      ...      ...           ...      ...
243  2023-06-09  13625.0  14250.0  13625.0  14200.0  14200.000000   307000
244  2023-06-12  14200.0  15800.0  14200.0  15750.0  15750.000000   620400
245  2023-06-13  15750.0  16625.0  15750.0  16100.0  16100.000000   699400
246  2023-06-14  16200.0  16450.0  15250.0  15700.0  15700.000000   469000
247  2023-06-15  15725.0  15775.0  15225.0  15400.0  15400.000000    96000

[248 rows x 7 columns]

In [ ]:
data = data.dropna(axis=0)
data.describe()

,Open,High,Low,Close,Adj Close,Volume
count,248.000000,248.000000,248.000000,248.000000,248.000000,2.480000e+02
mean,13053.407258,13349.758065,12796.985887,13075.413306,12747.654110,5.417056e+05
std,6175.070414,6322.422695,5998.399615,6161.584351,6185.172342,8.215681e+05
min,6270.000000,6395.000000,5990.000000,6290.000000,5977.672363,1.400000e+04
25%,6760.000000,6835.000000,6652.500000,6727.500000,6393.448852,1.610000e+05
50%,13100.000000,13587.500000,12812.500000,13175.000000,12520.800781,2.861500e+05
75%,19212.500000,19512.500000,19000.000000,19237.500000,19035.668457,5.653500e+05
max,23550.000000,24800.000000,21775.000000,23400.000000,22999.152344,7.500800e+06

In [ ]:
volume = data['Volume'].values
volume

array([ 336000, 1072000,  808000,  287000,  553000,  979000,  534000,
        168000,  282000,  656000,  452000,  598000,  521000,  730000,
        556000,  327000,  378000,  376000,  433000,  452000,  517000,
        120000,   98000,  782000,  302000,  191000,   84000,  184000,
        173000,   62000,  157000,  138000,  161000,  165000,   98000,
        265000,  356000,  188000,  222000,  194000,  106000,   69000,
        104000,  113000,   88000,   25000,   94000,   90000,  245000,
        361000,   35000,   34000,   14000,  130000,   23000,   96000,
        155000,  278000,  117000,   70000,   89000,   83000,  113000,
         39000,   80000,  167000,  122000,  178000,   30000,   96000,
        185000,  144000,  225000,  480000,   71000,  221000,  192000,
        173000,  332000,  301000,  338000,  297000,  273000,  388000,
        448000,  303000,  244000,  223000,  333000,  196000,   71000,
        169000,   50000,  147000,  160000,  424000,  280000,  213000,
        198000,   78000,  171000,  109000,  157000,  115000,  131000,
        538000,  145000,  357000,   96000,  224000,  282000,  327000,
        517000,  624000,  488000,  247000,   67000,  113000,  108000,
         33000, 2600000, 2032000, 1659900, 3473400, 1579300, 1289900,
       1314000, 1222000,  956100,  940800,  273800,  675500, 1095100,
       2896500, 3483500, 2298000, 1991200, 2805600, 7500800, 5147600,
       4600200, 2699500, 1133500,  814200,  619900, 2500600, 1286700,
        997000,  510500,  571700, 1059300,  681600,  691000,  574800,
        690800,  499100, 1630200, 1015500,  558400, 1706800,  841300,
        303200,  547400,  388500,  615500, 1264300,  591900,  568200,
        632100,  215600,  318000,  441500,  375700,  335700,  444600,
        245900,  227900,  321400,  365600,  311600,  174800,  285600,
        420700,  377700,  102200,  169600,  489800,  249000,  131200,
        147100,  136200,  657800,  388100,  202600,  221000,  681500,
        203200,  161500,  253600,  142700,  274500,  564400,  720300,
        440300,  307400,  609600,  196200,  243900,  161000,  427000,
        282800,  456100,  161900,  160800,  271000,  470100, 1369600,
        829400,  337000,  324800,  273300,  223700,  215200,  148400,
        212800,  266500,  230900,  254300,  165500,  169700,  151200,
         97100,  102600,  104000,  189400,  286700,  413600,  461800,
        881700,  791100, 1459300,  977400,  233800,  307000,  620400,
        699400,  469000,   96000])

In [ ]:
datas=data.iloc[:, [1, 4]]
datas

        Open    Close
0     6652.5   6290.0
1     6270.0   6437.5
2     6437.5   6482.5
3     6482.5   6340.0
4     6340.0   6422.5
..       ...      ...
243  13625.0  14200.0
244  14200.0  15750.0
245  15750.0  16100.0
246  16200.0  15700.0
247  15725.0  15400.0

[248 rows x 2 columns]

# Univariate Transform

In [ ]:
# transform univariate time series to supervised learning problem
from numpy import array
# split a univariate sequence into samples
def split_sequence(sequence, n_steps):
  X, y = list(), list()
  for i in range(len(sequence)):
    # find the end of this pattern
    end_ix = i + n_steps
    # check if we are beyond the sequence
    if end_ix > len(sequence)-1:
      break
    # gather input and output parts of the pattern
    seq_x, seq_y = sequence[i:end_ix], sequence[end_ix]
    X.append(seq_x)
    y.append(seq_y)
  return array(X), array(y)

# # define univariate time series
# series = array([1, 2, 3, 4, 5, 6, 7, 8, 9, 10])

# transform to a supervised learning problem
X, y = split_sequence(volume, 3)
print(X.shape, y.shape)
shapeX = X.shape

dfX = pd.DataFrame(X,columns=["t-3","t-2","t-1"])
dfy = pd.DataFrame(y, columns=["t"])

df = pd.concat((dfX, dfy), axis = 1)
df

(245, 3) (245,)

         t-3      t-2     t-1       t
0     336000  1072000  808000  287000
1    1072000   808000  287000  553000
2     808000   287000  553000  979000
3     287000   553000  979000  534000
4     553000   979000  534000  168000
..       ...      ...     ...     ...
240  1459300   977400  233800  307000
241   977400   233800  307000  620400
242   233800   307000  620400  699400
243   307000   620400  699400  469000
244   620400   699400  469000   96000

[245 rows x 4 columns]

## Normalisasi Min Max Scaler

In [ ]:
from sklearn.preprocessing import MinMaxScaler
import joblib

scaler = MinMaxScaler()
#scaler.fit(features)
#scaler.transform(features)
scaledX = scaler.fit_transform(dfX)
scaledY = scaler.fit_transform(dfy)
features_namesX = dfX.columns.copy()
features_namesy = dfy.columns.copy()
#features_names.remove('label')
scaled_featuresX = pd.DataFrame(scaledX, columns=features_namesX)
scaled_featuresY = pd.DataFrame(scaledY, columns=features_namesy)

## Splitting Data

In [ ]:

from sklearn.model_selection import train_test_split
training, test = train_test_split(scaled_featuresX,test_size=0.3, random_state=0,shuffle=False)#Nilai X training dan Nilai X testing
training_label, test_label = train_test_split(scaled_featuresY, test_size=0.3, random_state=0,shuffle=False)#Nilai Y training dan Nilai Y testing

In [ ]:
training_label

            t
0    0.036464
1    0.071993
2    0.128894
3    0.069456
4    0.020570
..        ...
166  0.026927
167  0.040605
168  0.057100
169  0.048312
170  0.042969

[171 rows x 1 columns]

## Pemodelan KNN

In [ ]:

from sklearn import neighbors
regresor = neighbors.KNeighborsRegressor(n_neighbors = 3)
regresor.fit(training, training_label)

KNeighborsRegressor(n_neighbors=3)

In [ ]:

pred_test = regresor.predict(test)
pred_test

array([[0.0390465 ],
       [0.06055101],
       [0.03103239],
       [0.02551157],
       [0.04327617],
       [0.05292426],
       [0.04278642],
       [0.0390465 ],
       [0.03032003],
       [0.02638867],
       [0.04584513],
       [0.01633987],
       [0.02787128],
       [0.02021335],
       [0.03855675],
       [0.02190522],
       [0.02257306],
       [0.01567203],
       [0.03815604],
       [0.06066232],
       [0.0245098 ],
       [0.03040908],
       [0.03815604],
       [0.03236808],
       [0.05073374],
       [0.04875247],
       [0.02074763],
       [0.04875247],
       [0.02787128],
       [0.076134  ],
       [0.09626721],
       [0.02168261],
       [0.08754519],
       [0.02822746],
       [0.05126801],
       [0.02074763],
       [0.03272426],
       [0.02582323],
       [0.05142384],
       [0.02101476],
       [0.05013268],
       [0.04056027],
       [0.03048476],
       [0.17721857],
       [0.06106748],
       [0.07257662],
       [0.03882389],
       [0.04078289],
       [0.03370376],
       [0.03121049],
       [0.0207031 ],
       [0.03561824],
       [0.02261758],
       [0.00948336],
       [0.02515538],
       [0.02110381],
       [0.01945647],
       [0.02163808],
       [0.04087193],
       [0.02689177],
       [0.00489751],
       [0.02288472],
       [0.01945647],
       [0.04103667],
       [0.04958505],
       [0.07700664],
       [0.0562323 ],
       [0.10715303],
       [0.06178875],
       [0.12394704],
       [0.06275489],
       [0.0627638 ],
       [0.07898346],
       [0.1124646 ]])

In [ ]:
from sklearn.metrics import mean_squared_error
from sklearn.metrics import mean_absolute_percentage_error
from math import sqrt
MSE = mean_squared_error(test_label,pred_test)
MAPE = mean_absolute_percentage_error(test_label, pred_test)
print("MSE :",MSE)
print("MAPE :",MAPE)

MSE : 0.0015699938863044335
MAPE : 0.7645625186529228

In [ ]:
# Mengembalikan data ke dalam format biasa
denormalized_data_test = pd.DataFrame(scaler.inverse_transform(test_label),columns=["Testing Data"])
denormalized_data_preds = pd.DataFrame(scaler.inverse_transform(pred_test),columns=["Predict Data"])
df_hasil = pd.concat([denormalized_data_test, denormalized_data_preds],axis=1)
df_hasil

    Testing Data   Predict Data
0       444600.0  306333.333333
1       245900.0  467333.333333
2       227900.0  246333.333333
3       321400.0  205000.000000
4       365600.0  338000.000000
..           ...            ...
69      307000.0  941966.666667
70      620400.0  483833.333333
71      699400.0  483900.000000
72      469000.0  605333.333333
73       96000.0  856000.000000

[74 rows x 2 columns]

#naive bayes

In [ ]:
from sklearn.naive_bayes import GaussianNB

from sklearn import linear_model
clf = linear_model.BayesianRidge()
clf.fit(training, training_label)
pred_test = clf.predict(test)

# Tampilkan hasil prediksi
print(pred_test)

[0.051185   0.0610115  0.04224856 0.0403347  0.04796321 0.05248434
 0.0480946  0.03505769 0.04471632 0.0572658  0.05443111 0.02874828
 0.03372167 0.06291466 0.04171458 0.03138574 0.03090163 0.02920052
 0.07910326 0.05553565 0.03985615 0.03913674 0.08208181 0.03849184
 0.03526768 0.04092929 0.030474   0.04315654 0.07075291 0.08773361
 0.06344637 0.05048687 0.0770575  0.03804351 0.04266772 0.03239535
 0.0577516  0.04461773 0.0621971  0.03394319 0.03362616 0.04233375
 0.06183688 0.14935729 0.10288498 0.05903074 0.05237397 0.04435252
 0.03931176 0.03796432 0.03123597 0.03704689 0.04204709 0.03927737
 0.04169066 0.03308549 0.03324411 0.03094497 0.0257196  0.02589471
 0.02571785 0.03392009 0.04360091 0.05668233 0.06244479 0.10357215
 0.09704378 0.16310922 0.11940734 0.05036821 0.0511379  0.07681052
 0.08618154 0.06644458]

/usr/local/lib/python3.10/dist-packages/sklearn/utils/validation.py:1143: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)

In [ ]:
from sklearn.metrics import mean_squared_error
from sklearn.metrics import mean_absolute_percentage_error
from math import sqrt
MSE = mean_squared_error(test_label,pred_test)
MAPE = mean_absolute_percentage_error(test_label, pred_test)
print("MSE :",MSE)
print("MAPE :",MAPE)

MSE : 0.001064740776645661
MAPE : 0.7416641589794022

In [ ]:
# Mengembalikan data ke dalam format biasa
denormalized_data_test = pd.DataFrame(scaler.inverse_transform(test_label), columns=["Testing Data"])
denormalized_data_preds = pd.DataFrame(scaler.inverse_transform(pred_test.reshape(-1, 1)), columns=["Predict Data"])
df_hasil = pd.concat([denormalized_data_test, denormalized_data_preds], axis=1)
df_hasil

    Testing Data   Predict Data
0       444600.0  397211.857595
1       245900.0  470780.894894
2       227900.0  330306.501998
3       321400.0  315977.856747
4       365600.0  373090.989139
..           ...            ...
69      307000.0  391096.732124
70      620400.0  396859.194249
71      699400.0  589064.970890
72      469000.0  659223.954537
73       96000.0  511457.311572

[74 rows x 2 columns]

In [ ]:
from sklearn.model_selection import train_test_split
from sklearn.svm import SVC
from sklearn.metrics import classification_report

# Inisialisasi model SVM
svm = SVC()

from sklearn import linear_model
clf = linear_model.BayesianRidge()
# Melatih model SVM
svm.fit(training, training_label)

# Melakukan prediksi pada data pengujian
y_pred = svm.predict(training, training_label)

# Menampilkan laporan klasifikasi
print(classification_report(pred_test))

/usr/local/lib/python3.10/dist-packages/sklearn/utils/validation.py:1143: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)

ValueError: ignored

#decision tree

In [ ]:
from sklearn import neighbors
from sklearn.tree import DecisionTreeRegressor
from sklearn.metrics import mean_squared_error, mean_absolute_percentage_error
from math import sqrt
import pandas as pd

# Membuat objek regresor Decision Tree
regressor = DecisionTreeRegressor()
regressor.fit(training, training_label)

# Melakukan prediksi pada data uji
pred_test = regressor.predict(test)

# Menghitung metrik evaluasi kinerja model
MSE = mean_squared_error(test_label, pred_test)
MAPE = mean_absolute_percentage_error(test_label, pred_test)
print("MSE :", MSE)
print("MAPE :", MAPE)

# Mengembalikan data ke dalam format biasa
denormalized_data_test = pd.DataFrame(scaler.inverse_transform(test_label), columns=["Testing Data"])
denormalized_data_preds = pd.DataFrame(scaler.inverse_transform(pred_test.reshape(-1, 1)), columns=["Predict Data"])
df_hasil = pd.concat([denormalized_data_test, denormalized_data_preds], axis=1)
df_hasil

# Menghitung akurasi Decision Tree
accuracy = regressor.score(test, test_label)
print("Accuracy:", accuracy)

MSE : 0.0014651229309889267
MAPE : 0.7666849130350447
Accuracy: -0.1548805003986644