Kelas PSD C

Ketua Kelompok
NIM :  200411100039
Nama : Amelia Nur Septiyasari

Anggota Kelompok
NIM : 200411100148
Nama : Fadilatul Jannah

Github Ketua : https://github.com/Amelia039/kolaborasipro

In [7]:
import pandas as pd
show_csv = pd.read_csv('https://raw.githubusercontent.com/Amelia039/my-dataset/main/Electric_Production.csv')
show_csv

          DATE  IPG2211A2N
0     1/1/1985     72.5052
1     2/1/1985     70.6720
2     3/1/1985     62.4502
3     4/1/1985     57.4714
4     5/1/1985     55.3151
..         ...         ...
392   9/1/2017     98.6154
393  10/1/2017     93.6137
394  11/1/2017     97.3359
395  12/1/2017    114.7212
396   1/1/2018    129.4048

[397 rows x 2 columns]

In [8]:
data_electric=show_csv['IPG2211A2N']
data_electric

0       72.5052
1       70.6720
2       62.4502
3       57.4714
4       55.3151
         ...
392     98.6154
393     93.6137
394     97.3359
395    114.7212
396    129.4048
Name: IPG2211A2N, Length: 397, dtype: float64

In [6]:
# transform univariate time series to supervised learning problem
from numpy import array
# split a univariate sequence into samples
def split_sequence(sequence, n_steps):
  X, y = list(), list()
  for i in range(len(sequence)):
    # find the end of this pattern
    end_ix = i + n_steps
    # check if we are beyond the sequence
    if end_ix > len(sequence)-1:
      break
    # gather input and output parts of the pattern
    seq_x, seq_y = sequence[i:end_ix], sequence[end_ix]
    X.append(seq_x)
    y.append(seq_y)
  return array(X), array(y)

# # define univariate time series
# series = array([1, 2, 3, 4, 5, 6, 7, 8, 9, 10])

# transform to a supervised learning problem
X, y = split_sequence(passengers, 3)
print(X.shape, y.shape)
shapeX = X.shape

dfX = pd.DataFrame(X)
dfy = pd.DataFrame(y, columns=["Xt"])

df = pd.concat((dfX, dfy), axis = 1)
df

NameError: name 'IPG2211A2N' is not defined