Kelas PSD C

Ketua Kelompok
NIM :  200411100039
Nama : Amelia Nur Septiyasari

Anggota Kelompok
NIM : 200411100148
Nama : Fadilatul Jannah

Github Ketua : https://github.com/Amelia039/kolaborasipro

In [8]:
import pandas as pd
show_csv = pd.read_csv('https://raw.githubusercontent.com/Amelia039/my-dataset/main/Electric_Production.csv')
show_csv

          DATE  IPG2211A2N
0     1/1/1985     72.5052
1     2/1/1985     70.6720
2     3/1/1985     62.4502
3     4/1/1985     57.4714
4     5/1/1985     55.3151
..         ...         ...
392   9/1/2017     98.6154
393  10/1/2017     93.6137
394  11/1/2017     97.3359
395  12/1/2017    114.7212
396   1/1/2018    129.4048

[397 rows x 2 columns]

In [9]:
data_electric=show_csv['IPG2211A2N']
data_electric

0       72.5052
1       70.6720
2       62.4502
3       57.4714
4       55.3151
         ...
392     98.6154
393     93.6137
394     97.3359
395    114.7212
396    129.4048
Name: IPG2211A2N, Length: 397, dtype: float64

In [10]:
# mengubah deret waktu univariat menjadi masalah pembelajaran terbimbing
from numpy import array
# membagi deret waktu univariat menjadi sampel-sampel
def split_sequence(sequence, n_steps):
  X, y = list(), list()
  for i in range(len(sequence)):
    # mencari akhir pola ini
    end_ix = i + n_steps
    # memeriksa apakah kita sudah melewati deret waktu
    if end_ix > len(sequence)-1:
      break
    # mengumpulkan bagian masukan dan keluaran dari pola ini
    seq_x, seq_y = sequence[i:end_ix], sequence[end_ix]
    X.append(seq_x)
    y.append(seq_y)
  return array(X), array(y)

# # mendefinisikan deret waktu univariat
# series = array([1, 2, 3, 4, 5, 6, 7, 8, 9, 10])

# mengubah menjadi masalah pembelajaran terbimbing
X, y = split_sequence(data_electric, 3)
print(X.shape, y.shape)
shapeX = X.shape

dfX = pd.DataFrame(X,columns=["t-3","t-2","t-1"])
dfy = pd.DataFrame(y, columns=["t"])

df = pd.concat((dfX, dfy), axis = 1)
df

(394, 3) (394,)

          t-3       t-2       t-1         t
0     72.5052   70.6720   62.4502   57.4714
1     70.6720   62.4502   57.4714   55.3151
2     62.4502   57.4714   55.3151   58.0904
3     57.4714   55.3151   58.0904   62.6202
4     55.3151   58.0904   62.6202   63.2485
..        ...       ...       ...       ...
389  102.1532  112.1538  108.9312   98.6154
390  112.1538  108.9312   98.6154   93.6137
391  108.9312   98.6154   93.6137   97.3359
392   98.6154   93.6137   97.3359  114.7212
393   93.6137   97.3359  114.7212  129.4048

[394 rows x 4 columns]

In [16]:
from sklearn.preprocessing import MinMaxScaler
import joblib

scaler = MinMaxScaler()
#scaler.fit(features)
#scaler.transform(features)
scaledX = scaler.fit_transform(dfX)
scaledY = scaler.fit_transform(dfy)
features_namesX = dfX.columns.copy()
features_namesy = dfy.columns.copy()
#features_names.remove('label')
scaled_featuresX = pd.DataFrame(scaledX, columns=features_namesX)
scaled_featuresY = pd.DataFrame(scaledY, columns=features_namesy)

In [ ]:
from sklearn.model_selection import train_test_split
training, test = train_test_split(scaled_featuresX,test_size=0.2, random_state=0,shuffle=False)#Nilai X training dan Nilai X testing
training_label, test_label = train_test_split(scaled_featuresY, test_size=0.2, random_state=0,shuffle=False)#Nilai Y training dan Nilai Y testing

In [ ]:
from sklearn import neighbors
regresor = neighbors.KNeighborsRegressor(n_neighbors = 5)
regresor.fit(training, training_label)

In [ ]:
pred_test = regresor.predict(test)
pred_test

In [ ]:
from sklearn.metrics import mean_squared_error
from sklearn.metrics import mean_absolute_percentage_error
from math import sqrt
MSE = mean_squared_error(test_label,pred_test)
MAPE = mean_absolute_percentage_error(test_label, pred_test)
print("MSE :",MSE)
print("MAPE :",MAPE)

In [ ]:
# Mengembalikan data ke dalam format biasa
denormalized_data_test = pd.DataFrame(scaler.inverse_transform(test_label),columns=["Testing Data"])
denormalized_data_preds = pd.DataFrame(scaler.inverse_transform(pred_test),columns=["Predict Data"])
df_hasil = pd.concat([denormalized_data_test, denormalized_data_preds],axis=1)
df_hasil